{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Des explications</title>
    <link rel="stylesheet" href="/static/css/explanations.css">

</head>
<body>
<div class="explanations-feed">
    <h2>Quelques explications concernant ce développement</h2>
    <p>Je vais détailler ici ma démarche concernant cet exercice.</p>
<p>Hier, j’ai pu commencer à travailler sur ce TP vers 21h30. Je n’avais jamais travaillé avec une
    machine virtuelle, et je ne me suis servi de distributions Linux qu’à de rares occasions dans
    ma vie (Debian pour ressusciter des vieilles machines et bidouiller un peu par ex..).
    Qu’a cela ne tienne, on va essayer.</p>
<p>La première étape :<br>
-Monter une VM Linux (Ubuntu Server par exemple)
    <br>Je télécharge rapidement VirtualBox, l’iso de la dernière version LTS d’Ubuntu Server,
    et c’est parti.
    <br>Tout s’installe, c’est parfait. Je redémarre la machine virtuelle et je me retrouve avec
    la ligne de commande, prête à se plier à tous mes désirs (enfin j’imagine).
    <br>Sauf que je me sens un peu comme un singe qui trouve un appareil photo, je ressens que
    quelque chose doit être possible, mais que ce n'est pas dans l’heure qui vient que je vais
    devenir un grand photographe...</p>
<p>En bon singe têtu, je me dis : je vais créer un dossier pour le TP, j’installe pip et django
    juste après, je crée mon projet comme je le ferais sur ma machine via gitbash par exemple
    <br>Je fais tout ça, ça se fait bien, je lance la migration de base et je run le serveur.
    Yes ça marche. Cool, sauf que :
    <br>- J’ignore comment accéder au rendu vu qu’il n’y a pas d’interface et que l’os est isolé de
    mon système hôte finalement : je me perds sur internet pour essayer de faire une redirection
    des ports, je me rends compte que je suis perdu et je décide de réfléchir à ce qu’il se
    passerait si par miracle j’arrivais à avoir le rendu sur la machine hôte. Parce qu’avoir le
    rendu de base de Django qui dit qu’il est bien installé, on s’en fout un peu en fait.
    Après il faudra que je bosse sur les fichiers pour vous servir quelque chose quand même.
    <br>Bon, ça fait beaucoup d’un coup et j’abdique sur cette partie compte tenu du délai,
    je décide de le développer sans la VM, avec un environnement virtuel sur ma machine comme je
    l’ai toujours fait jusque là.</p>
<p>Là ça se passe comme d’habitude (donc bien) sauf pour un truc, le serveur de développement de
    Django ne veut pas trouver mon fichier ‘index.css’ dans le dossier static, alors que pour
    d’autres projets avec une architecture et des réglages identiques, ça marchait très bien.
    Un grand mystère que je mettrais 45 minutes à contourner grâce à stackoverflow,
    en ajoutant un « STATICFILES_DIRS = [os.path.join(BASE_DIR, "static"),] » dans mes settings,
    quand bien même la STATIC_URL était déjà correctement indiquée à Django. J’ai pas compris
    pourquoi j’ai eu besoin de rajouter ça par rapport à avant, mais soit, au moins ça fonctionne.
    <br>Bref, ça y est je vais pouvoir styliser mes pages.. il est tard à ce moment-là (genre 2h du
    matin), du coup je vais me coucher et je reprends le travail vers 9h30</p>
<p>A ce moment-là, j’ai envie de retenter la VM en prenant une version avec interface : je
    télécharge la version desktop d’ubuntu et je l’installe. Je trouve ça dommage parce qu’elle
    fait 2Go de plus que la version server et je me doute qu’on fait pas ça dans les bonnes
    pratiques pour des raisons évidentes. De toute façon je suis vite stoppé dans mon élan puisque
    même si l’installation se passe nickel, une fois terminée, la machine ne renvoie qu’un écran
    noir après l’écran du démarrage d’Ubuntu.
    <br>Il y a donc un problème quelque part et je me dis que décidément la VM se refuse à moi.
    Il me faudrait du temps pour reprendre l’install tranquillement et voir ce qui ne va pas. Mais
    du temps j’en ai pas énormément surtout que j’aimerais me concentrer sur autre chose que la
    mise en place d’un environnement.
    <br>Je repars déçu, sans la VM, mais j’essaye de positiver et je me dis que je vous
    expliquerais comment et sur quoi j’ai buté. C’est chose faite</p>
<p>Pour la partie développement : évidemment réaliser une vue qui affiche une phrase, c’est le
    truc facile, alors je voulais implémenter une petite fonction supplémentaire (ça reste facile
    certes) pour pas que vous vous disiez que je suis un incompétent doublé d’une feignasse.
    <br>J’avais vu sur un post de freecodecamp récemment un petit script pour checker le statut
    d’un serveur, savoir s’il est en ligne, ou non. Je trouvais ça sympa alors je l’ai intégré à la
    suite de ce texte si long.
    <br>Pour être tout à fait transparent, voici le lien du repo où se trouve le petit script
    d’origine :
    <a href="github.com/larymak/Python-project-Scripts/blob/main/ServerChecker/serverChecker.py">
        Script sur GitHub</a>
    <br>Il utilise la bibliothèque socket, qui de ce que j’ai compris permet entre autres de créer
    un « connecteur » et in-fine de vérifier s'il fonctionne.
    <br>J’ai à peine modifié le script en rajoutant un nommage des exceptions (le except était
    tout nu) et un print de l’erreur capturée, dans le back.
    <br>Puis j’ai intégré ça dans la vue, après ces explications</p>
<p>Au point où j’en suis, il est 13h passée et j’aimerais professionnaliser le plus possible le
    rendu, comme demandé. Un petit commit, je mange et je m’y mets. </p>
    <p> Bon j'ai fait très simple et j'ai simplement centré les éléments, ajouté des marges par-ci,
    par-la pour un affichage plus aéré et plus lisible. J'ai des choses qui étaient déjà prévues
    cette après-midi et le temps et l'expérience pour élaborer quelque chose de plus poussé va
        me manquer, j'espère que vous ne rejetterez pas votre repas de midi devant ce rendu,
        c'est vrai, plutôt simpliste. J'ai tout de même pris le temps de faire un petit script js
    qui va colorer la réponse du check du statut en rouge ou en vert selon le résultat.</p>

</div>
<div class="bonus-feed" id="bonus">
    <p>La fonction bonus pour tester la réponse d'un serveur:</p>
    <form action="/explanations#bonus" method="POST">
        {% csrf_token %}
        <input class="site-input" type="text" name="site-input" placeholder="lechomdu.herokuapp.com">
        <div class="submit-div">
            <input class="submit-btn" type="submit" value="Vérifier la réponse">
        </div>
    </form>
    {% if result_message %}
    <div>
        <p id="result-message">{{result_message}}</p>
    </div>
    {% endif %}
</div>
<div class="conclusion-feed">
    <h3>Une <del>petite</del> conclusion</h3>
    <p>Au gré des obstacles que j'ai rencontrés sur cette petite démonstration et des lectures sur
        ce que cela concernait et un peu plus, je me suis rendu compte de plusieurs choses:
        <br>-J'ai des lacunes sur la connaissance des réseaux et de comment ils fonctionnent
        réellement  (les serveurs, les proxys, les ports, etc); Je suis tombé sur beaucoup de
        fils de discussions concernant tout ça en cherchant comment héberger mon app sur une VM
        Ubuntu Server et je mentirais si je disais que j'avais bien tout compris de quoi ces
        personnes discutaient. Ce n'est malheureusement pas un sujet abordé pleinement dans le
        parcours que j'ai effectué avec OpenClassrooms
        <br>Cependant cela m'a donné envie de m'y connaître en réseaux et infrastructures, j'ai
        beaucoup de choses à apprendre
        <br>-Je pense qu'il serait bon que je passe une de mes machines sous Linux pour travailler
    la ligne de commande, m'habituer à une configuration différente de la mienne et pouvoir
        m'adapter aux outils sous Linux que je sache parfaitement naviguer dans le système et
    faire ce que j'ai envie de faire avec
        <br>-En travaillant sur le rendu, je confirme ma préférence pour le back-end, je manque
    d'outils et d'expérience pour vraiment prétendre à créer des UI professionnelles</p>
    <p>Au delà de tout ça, j'aimerais que vous sachiez que l'exercice m'a quand même amusé, et que
        même s'il y a peu de chances que le résultat vous convienne, je serais toutefois très
    intéressé de vous rejoindre. Gilbert MOISIO a dit pendant notre échange "Nous on vend des
    spécialistes au client". Moi j'adorerais devenir un spécialiste dans votre domaine et gagner en
    compétences sous le regard d'un développeur expérimenté. Si vous avez les ressources et le
    temps pour faire d'un junior volontaire un spécialiste, je suis prêt à m'investir pour vous</p>
    <p>Quoiqu'il arrive je vous remercie tous les trois pour le temps que vous avez passé pour moi,
    à échanger hier, et à me lire aujourdhui :)</p>
    <p>Cordialement</p>
    <p>VERNET Audric</p>


</div>
<script src="static/js/explanations.js"></script>
</body>
</html>